@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
}

:root {
    --primary-color: #00BFA6;
    --dark-gray: #9CA3AF;
    --off-white: #F3F4F6;
}

/**Navigation**/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-brand {
    font-size: 1.7rem;
    font-family: 'Satisfy', cursive;
    cursor: pointer;
}

.non-bullet {
    list-style: none;
}

.navigation .nav-pills {
    text-align: right;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

@media (max-width: 360px) {
    .link {
        font-size: .67rem;
    }

    .list-item-inline {
        display: inline;
        padding: 0rem 0rem;
    }
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navigation .link {
    color: white;
}

.link-active {
    font-weight: bold;
}

/**header**/

.hero {
    padding: 0.5rem;
}

.hero .hero-image {
    max-width: 330px;
    display: block;
    margin: auto;
}

.contact-image {
    width: 100%;
    height: 300px;
    align-items: center;
}
.contact-text{
    text-align: center;
    color: #00BFA6;
}

@media (max-width:360px) {
    .contact-image {
        overflow: hidden;
        max-width: 360px;
        height: 406px;
    }
    .contact-text{
        font-size:23px;
    }

}

.hero .hero-hedding {
    text-align: center;
    font-size: 36px;
    letter-spacing: 1px;
}

#text-color {
    color: gray;
}

#text-size {
    font-size: 22px;
}

/** Section **/

.section {
    text-align: center;
    padding: 2rem 0rem;
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
}

.skill-section {
    /* width: 40%; */
    text-align: center;
    font-size: 1.2em;
    padding: 4rem 0rem;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
}

.skill-img img {
    width: 70px;
    height: 60px;
}

.section h1 {
    color: var(--primary-color);
}

.ow {
    background-color: var(--off-white)
}

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
}

.summary-ow {
    width: 50%;
    padding: 1rem;
    box-shadow: .4px 1px 1px gray;
}

.summary {
    width: 50%;
    padding: 1rem;
    background: #F3F4F6;
}

.btn-primary {
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
    box-shadow: 3px 4px 4px grey;
    padding: 0.4rem 1.5rem;
    cursor: pointer;
}

.btn-primary a {
    text-decoration: none;
    color: white;
}

.btn-secondary {
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
    box-shadow: 3px 4px 4px grey;
    padding: 0.4rem 1rem;
    margin-left: .4rem;
    cursor: pointer;
}

.btn-secondary a {
    text-decoration: none;
    color: black;
}

#mybtn {
    display: flex;
    align-items: center;
}

@media (max-width:360px) {

    .summary,
    .summary-ow {
        width: 91%;
        overflow-x: hidden;
    }
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    box-shadow: 3px 4px 4px grey;
}

.secondary-link {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.footer-header {
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    padding: 2rem 1rem;
    border-top-right-radius: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.footer-heading {
    text-align: center;
    font-weight: bold;
}

.footer-header .link {
    color: white;
}

.footer-header .nav-pills {
    text-align: center;
}

.footer-header ul {
    padding-inline-start: 0;
}